@import"variables";

.free{
background-image: url(../img/freedelivery.png);
    padding-top: 130px;
    padding-bottom: 130px;
    h1{
        color:$primary-Color;
            font-family: $fonts-Family;
            font-size: 55px;
            font-weight: bold;
            
            
    }
    p{
        color:$primary-Color;
        font-family: $font-Family;
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 50px;
        
    }
    button{
        border: none;
        width: 280px;
        height: 60px;
        border-radius: 50px;
     color: $accent-Color;
     background-color:$btn-Color;
     font-family: $fonts-Family;
     font-weight:500px;
     font-size: 20px;
     word-spacing: 5px;
     letter-spacing: 3px;
    }
}

@media(max-width:512px){
    .free{
        padding-top: 120px;
        padding-bottom: 120px;
        h1{
         
                font-size: 50px;
               
                
                
        }
        p{
         
            font-size: 20px;
         
           
        }
        button{
            width: 210px;
            height: 50px;
            font-size: 18px;
        }
        
    }
}


@media(max-width:381px){
    .free{
        padding-top: 90px;
        padding-bottom: 100px;
        h1{
            font-size: 40px;
        }
        p{
         
            font-size: 18px;
         
           
        }
        button{
            width: 200px;
            height: 50px;
            font-size: 16px;
        }
    }
}